<tr>
  <td>
    <%= link_to topic.title, board_topic_path(topic) %>
    <div style="font-size: 12px;">
      by <%= link_to topic.user.username, board_topic_path(topic) %> » 
      <%= time_ago_in_words(topic.created_at) %> ago
    </div>
  </td>
  <td class="center"><%= topic.comments.count %></td>
  <td class="center"><%= topic.views %></td>
  <td>by 
    <span class="user">
      <%= topic.latest_post.user.username %>
    </span> 
      <br />
    <%= time_ago_in_words(topic.latest_post.created_at) %> ago
  </td>
</tr>
