<div class="well-header" style="text-align:left;">
  "<%= @topic.title %>" started by  
    <%= @topic.user.username %> 
    <%= time_ago_in_words(@topic.created_at) %> ago
  </div>

  <div class="well well-inner">
    <%= gravatar_for @topic.user %>
    <span class="content"><%= @topic.content %></span>
  </div>

  <%= render @topic.comments unless @topic.comments.empty? %>

  <div class="well-bottom">
</div>
